﻿.dropdown-selectable {
    min-width: 200px;
    max-width: 600px;
}

.dropdown-selectable .dropdown-toggle {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    width: 100%;
    padding-right: 24px;
}

.dropdown-selectable .dropdown-toggle .caret {
    position: absolute;
    right: 12px;
    top: calc(50% - 2px);
}

.dropdown-selectable .scrollable-dropdown-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}
